.conteudo-container {
  padding: 20px;
}

.conteudo-container .title-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.conteudo-container #lista-carros {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.conteudo-container #lista-carros .carro-card {
  background-color: var(--branco);
  padding: 20px;
  border-radius: 10px;
}
